<div class="ui text container regras">
  <h1>Regras deste jogo</h1>
  <p>Este conjunto de regras está definido <a href="github.com/link-regras-pebolim">aqui</a>.</p>
  <ul class="ui list">
    <li>Caso não seja estabelecido pelo admin da mesa, uma partida é constituída em 3 melhores de 5 jogos. Cada jogo deverá ser de 5 gols. O jogo final da partida será de 5 gols, mas deverá ser vencido por 2 pontos de diferença até um máximo de 8 gols.</li>
    <li>O número de e jogos disputados por partida e gols por jogo são responsabilidades do admin e deverá ser publicado no anúncio do torneio.</li>
    <li>O admin poderá reduzir o número de jogos e/ou gols disputados por partida/jogo se o tempo for fator relevante.</li>
    <li>Esta decisão é final e aplica-se a todas as partidas do evento.</li>
  </ul>
</div>